@use '@centralstandard/typography';

@use '../../styles/utils';

//
// Main wrapper
// -------------------------------------------------------------------------------------------------

.container {
  @include typography.text-size(xs);

  background-color: var(--warm-gray-100);
  border-radius: 0.25em;
  grid-area: breadcrumbs;
  font-family: var(--monospace);
  font-weight: 800;
  padding-left: var(--space-2);
  padding-right: var(--space-2);

  a {
    color: var(--warm-gray-600);
    text-decoration: none;

    &:hover {
      color: var(--yellow-600);
    }

    &[aria-current='page'] {
      font-weight: 600;
    }
  }

  li:first-of-type a:hover {
    color: var(--warm-gray-500);
  }

  li + li::before {
    color: var(--warm-gray-400);
    content: '➜';
    margin-left: var(--space-2);
    margin-right: var(--space-2);
  }

  ol {
    display: flex;
    list-style: none;
  }

  p {
    @extend %visually-hidden;
  }
}
