@use '../../styles/utils';

//
// Main wrapper
// -------------------------------------------------------------------------------------------------

.container {
  @extend %centered;

  align-items: start;
  display: grid;
  grid-column-gap: var(--space-5);
  grid-row-gap: var(--space-5);
  grid-template-areas: 'breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs' 'content content content content content content content content' 'map map map map map map map map' 'journal journal journal journal journal journal journal journal';
  grid-template-columns: repeat(8, 1fr);
  padding-top: var(--space-7);

  @media (min-width: 640px) {
    grid-template-areas: 'breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs' 'content content content content content map map map' 'content content content content content journal journal journal';
  }

  @media (min-width: 944px) {
    grid-template-areas: 'map map breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs' 'map map content content content content journal journal';
  }
}
