@use '@centralstandard/typography';

@use '../../styles/utils';

//
// Main wrapper
// -------------------------------------------------------------------------------------------------

.container,
.container > header {
  display: contents;
}

//
// Content
// -------------------------------------------------------------------------------------------------

.content {
  grid-area: content;
}

//
// Update info
// -------------------------------------------------------------------------------------------------

.update {
  grid-area: update;

  @media (min-width: 784px) {
    margin-top: var(--header-gap);
  }

  a {
    color: var(--emerald-800);
    text-decoration: none;

    &:hover {
      color: var(--emerald-600);
    }
  }

  figcaption {
    color: var(--warm-gray-600);
    font-family: var(--monospace);
    font-size: var(--text-2-xs);
    font-style: italic;
    font-weight: 600;
    line-height: 1.5;
    margin-top: var(--space-2);
  }

  svg {
    background-color: var(--light-blue-100);
    border-color: var(--warm-gray-200);
    border-style: solid;
    border-width: var(--space-px);
    border-radius: 0.25em;
    color: var(--emerald-500);
    height: auto;
    width: 100%;

    :global(.points circle) {
      fill: var(--red-500);
    }
  }
}

//
// Markdown
// -------------------------------------------------------------------------------------------------

.markdown {
  @include typography.text-size(sm);

  color: var(--warm-gray-600);
  font-family: var(--sans-serif);
  font-weight: 400;
  grid-area: content;

  a {
    &:link {
      color: var(--blue-600);
      &:hover {
        color: var(--blue-800);
        text-decoration-color: var(--warm-gray-300);
      }
    }

    &:visited {
      color: var(--purple-700);
      &:hover {
        color: var(--purple-900);
        text-decoration-color: var(--warm-gray-300);
      }
    }

    &:active,
    &:hover:active {
      color: var(--red-600);
      text-decoration-color: var(--red-600);
    }
  }

  h2 {
    @include typography.text-size(md);
    color: var(--warm-gray-800);
    font-family: var(--serif);
    font-weight: 600;
    margin-bottom: var(--space-1);
    margin-top: var(--space-4);
  }

  hr {
    background-color: var(--warm-gray-300);
    display: block;
    height: var(--size-px);
    margin: var(--space-6) auto;
    width: var(--size-6);
  }

  ol,
  ul {
    margin-left: var(--space-6);
    margin-top: var(--space-4);
  }

  p + p {
    margin-top: var(--space-4);
  }
}

//
// Table of contents
// -------------------------------------------------------------------------------------------------

.toc {
  h3 {
    @extend %visually-hidden;
  }

  ol {
    @include typography.text-size(xs);
    columns: 2;
    font-family: var(--sans-serif);
    font-weight: 700;
    line-height: var(--leading-0);
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    text-transform: capitalize;
    margin-bottom: var(--space-4);
  }

  li::marker {
    color: var(--warm-gray-400);
    font-family: var(--monospace);
    font-size: var(--text-2-xs);
    font-variant-numeric: tabular-nums;
    font-weight: 500;
  }

  a {
    color: var(--warm-gray-600);
    text-decoration: none;
    &:hover {
      color: var(--warm-gray-900);
    }
  }
}

//
// Title
// -------------------------------------------------------------------------------------------------

.title {
  @include typography.text-size(xl);

  font-family: var(--sans-serif);
  font-weight: 800;
  grid-area: title;
  justify-self: center;
  order: 2;
  overflow-wrap: break-word;
  text-align: center;

  @media (min-width: 640px) {
    @include typography.text-size(3-xl);
  }

  a {
    color: var(--gray-900);
    text-decoration: none;
  }
  a:hover {
    color: var(--yellow-900);
  }

  span {
    @extend %visually-hidden;
  }
}
