@use '@centralstandard/typography';

@use '../../styles/utils';

//
// Main wrapper
// -------------------------------------------------------------------------------------------------

.container,
.container nav {
  display: contents;
}

//
// Breadcrumbs
// -------------------------------------------------------------------------------------------------

.breadcrumbs {
  @include typography.text-size(xs);

  background-color: var(--warm-gray-100);
  border-radius: 0.25em;
  display: flex;
  grid-area: breadcrumbs;
  font-family: var(--monospace);
  font-weight: 800;
  list-style: none;
  padding-left: var(--space-2);
  padding-right: var(--space-2);

  @media (min-width: 664px) {
    margin-top: var(--header-gap);
  }

  a {
    color: var(--warm-gray-600);
    text-decoration: none;

    &:hover {
      color: var(--yellow-600);
    }

    &[aria-current='page'] {
      font-weight: 600;
    }
  }

  li:first-of-type a:hover {
    color: var(--warm-gray-500);
  }

  li + li::before {
    color: var(--warm-gray-400);
    content: '➜';
    margin-left: var(--space-2);
    margin-right: var(--space-2);
  }
}

//
// Child topics
// -------------------------------------------------------------------------------------------------

.children {
  display: flex;
  flex-wrap: wrap;
  grid-area: children;
  justify-self: center;
  order: 4;

  a {
    color: var(--warm-gray-600);
    text-decoration: none;

    &:hover {
      color: var(--yellow-600);
    }
  }

  dd {
    @include typography.text-size(xs);

    font-family: var(--sans-serif);
    font-weight: 800;
    letter-spacing: var(--kerning-widest);
    text-transform: uppercase;
  }
  dd + dd {
    margin-left: var(--space-4);
  }
}

//
// Label
// -------------------------------------------------------------------------------------------------

.label {
  @extend %visually-hidden;
}

//
// Parent topic
// -------------------------------------------------------------------------------------------------

.parent {
  display: flex;
  grid-area: parent;
  justify-self: center;

  a {
    color: var(--warm-gray-600);
    text-decoration: none;

    &:hover {
      color: var(--yellow-600);
    }
  }

  dd {
    @include typography.text-size(sm);

    font-family: var(--sans-serif);
    font-weight: 900;
    letter-spacing: var(--kerning-widest);
    text-transform: uppercase;
  }
}

//
// Related
// -------------------------------------------------------------------------------------------------

.related {
  display: contents;
}

//
// Tags
// -------------------------------------------------------------------------------------------------

.tags {
  display: flex;
  grid-area: tags;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: center;
  position: relative;

  &::before {
    background-color: var(--warm-gray-700);
    content: ' ';
    display: block;
    float: left;
    height: 4px;
    margin-bottom: var(--space-5);
    position: absolute;
    top: 0;
    transform: translateY(calc(calc(var(--space-5) * -1) / 2));
    width: var(--size-4);
  }

  a {
    color: var(--warm-gray-600);
    text-decoration: none;

    &::before {
      color: var(--warm-gray-400);
      content: '#';
    }

    &:hover {
      color: var(--orange-600);

      &::before {
        color: var(--orange-400);
      }
    }
  }

  dd {
    @include typography.text-size(xs);

    font-family: var(--monospace);
    font-style: italic;
    font-weight: 700;
  }

  dd + dd {
    margin-left: var(--space-3);
  }
}
