%centered {
  margin: 0 auto;
  max-width: var(--size-60);
  padding-bottom: 0;
  padding-left: calc(var(--space-5) + env(safe-area-inset-left, 0));
  padding-right: calc(var(--space-5) + env(safe-area-inset-right, 0));
  padding-top: 0;
}

.hide,
%visually-hidden {
  clip-path: circle(0);
  display: inline-block;
  height: var(--size-px);
  margin: calc(0 - var(--size-px));
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: var(--size-px);
}
